body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-heading {
  padding-top: 40px;
  font-weight: bold;
  text-align: center;
  color: white;
  font-size: 50px;
}

.inputfields {
  font-weight: bold;
  font-size: 20px;
  color: #565BEA;
}

.app-field {
  font-size: 30px;
  padding: 40px;
  color: #565BEA;
 

}


.detail-text {
  color: white;
  text-align: center;
  font-size: 30x;
  padding: 10px;
}
